header {
    display:flex;
}

body {           
    margin: auto;
    max-width: 1150px;
}              

.entete h1 {
    font-size: 3.5rem;
    margin-bottom: 0;               
    padding-top: 20px;
}       

.entete h2 {
    font-size: 1.6em;
    text-align: left;
    padding-left: 0rem;
    margin-top: 0;
    margin-bottom: 0;
}
.entete h2::after {
    
    padding-top: 0rem;
} 

h3 {
    padding-left: 0;
}


.formation h4 {
    padding-left: 0;
}


h2  {
    font-size: 1.6rem;
    text-transform: uppercase; 
}
.formation p {
    padding-right: 1rem;
    text-align: justify;
    padding-left: 0rem;
}



#sousnom {
    text-align: left;
}

.entete {
    max-width: 100%;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
        
#corpscv {
    display: flex;
    flex-direction: row;
}

.liseret, #asidephoto{
    display: flex;
    flex-direction: column;
    min-width: 23.8rem;
    max-width: 23.8rem;
}

.cursus_total {
    max-width: 100%;
    padding-left: 2.5rem;
    padding-top: 1.3rem;
    line-height: 1.5rem;
}

.recommand {
    display:flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
} 
#nom1 {
    padding-right: 7rem;
}
        
.aprem {
    display: flex;
    flex-direction: row;
    padding-right: 2px;
}

.lorem {
    display: flex;
    flex-direction: column;
}

.gps,.dot{
    display: flex;
    min-width: 35%;
    padding-right: 15px;
}

.coordonnees {
    margin-left: 8%;
    margin-right: 8%; 
}


.nom{
    font-size: 1rem;
    padding: 10px;
}

.datelieu {
    display: flex;
    flex-direction: column;
}


.gps:before {
    
    padding-top: 0.5rem;
    
    
    
}

.dot::before {
    margin-top:0.5rem;
    
}


