.formation p {
    padding-right: 1rem;
    text-align: justify;
    padding-left: 0rem;
}




.cursus_total {
    padding-left: 1rem;
}

.liseret, #asidephoto {
        display: flex;
        flex-direction: column;
        min-width: 19rem;
        max-width: 19rem;
    }
    
.gps,.dot{
        display: flex;
        min-width: 29%;
        padding-right: 0.7rem;
    }

    #nom1 {
        padding-right: 2rem;
    }


    h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
        text-align: left;
    }